@using Connect456Common.Code

@code {
    // This is the base class for the Connect Four game board. It contains the logic for the game board and the game pieces.
    // The Connect/Four/Five/Six/.razor files inherit from this class and use the logic to create the game board.
    // The game board is a grid of game pieces that can be clicked to place a piece in the column.
    // The game board will check for a winning play after each move and display a message if a player has won.
    // The game board will also switch turns between the two players after each move.
    // The game board can be reset by clicking the "Restart" button after a player has won.

    [Parameter]
    public int Cols { get; set; }
    [Parameter]
    public int Rows { get; set; }
    [Parameter]
    public int InARow { get; set; }

    GameBoard board = new GameBoard(7, 6);

    PieceColor currentTurn = PieceColor.Red;
    Maybe<WinningPlay> winningPlay = Maybe<WinningPlay>.None;
    bool boardFull => board.Board.Cast<GamePiece>().All(p => p.Color != PieceColor.Blank);
    string boardStyle = "background-color: blue; display: flex; flex-direction: row; max-width: fit-content";

    // Initializes the game board with the specified number of columns and rows.
    protected override void OnInitialized()
    {
        board = new GameBoard(Cols, Rows);
        StateHasChanged();
    }

    // Handles the click event on a game piece. Places a piece in the column and checks for a winning play.
    internal void PieceClicked(int col, int row)
    {
        if (winningPlay.HasValue) { return; }

        GamePiece clickedSpace = GetValidPiece(col, row);

        if (clickedSpace.Color == PieceColor.Blank)
        {
            row = GetLowestEmptyRow(col, row);
            clickedSpace = GetValidPiece(col, row);
            clickedSpace.Color = currentTurn;

            winningPlay = GetWinner(col, row);

            if (!winningPlay.HasValue)
            {
                SwitchTurns();
            }
        }
    }

    // Gets the lowest empty row in the specified column.
    private int GetLowestEmptyRow(int col, int row)
    {
        while (row < Rows - 1 && GetValidPiece(col, row + 1).Color == PieceColor.Blank)
        {
            row++;
        }

        return row;
    }

    // Switches the turn between the two players.
    private void SwitchTurns()
    {
        currentTurn = currentTurn == PieceColor.Red ? PieceColor.Yellow : PieceColor.Red;
    }

    // Checks if there is a winning play starting from the specified column and row.
    internal Maybe<WinningPlay> GetWinner(int col, int row)
    {
        var winner = EvaluateForWinner(col, row, EvaluationDirection.Vertical);
        if (winner.HasValue) return winner;
        winner = EvaluateForWinner(col, row, EvaluationDirection.Horizontal);
        if (winner.HasValue) return winner;
        winner = EvaluateForWinner(col, row, EvaluationDirection.SlopeUp);
        if (winner.HasValue) return winner;
        return EvaluateForWinner(col, row, EvaluationDirection.SlopeDown);
    }

    // Evaluates if there is a winning play in the specified direction.
    private Maybe<WinningPlay> EvaluateForWinner(int col, int row, EvaluationDirection direction)
    {
        GamePiece piece = GetValidPiece(col, row);
        (col, row) = MoveToStart(col, row, direction, piece.Color);

        return EvaluateBoardForWinner(col, row, direction);
    }

    // Moves to the start of the sequence of pieces in the specified direction.
    private (int, int) MoveToStart(int col, int row, EvaluationDirection direction, PieceColor color)
    {
        while (IsWithinBounds(col, row) && GetValidPiece(col, row).Color == color)
        {
            (col, row) = direction switch
            {
                EvaluationDirection.Vertical => (col, row - 1),
                EvaluationDirection.Horizontal => (col - 1, row),
                EvaluationDirection.SlopeUp => (col - 1, row + 1),
                EvaluationDirection.SlopeDown => (col - 1, row - 1),
                _ => (col, row)
            };
        }

        return direction switch
        {
            EvaluationDirection.Vertical => (col, row + 1),
            EvaluationDirection.Horizontal => (col + 1, row),
            EvaluationDirection.SlopeUp => (col + 1, row - 1),
            EvaluationDirection.SlopeDown => (col + 1, row + 1),
            _ => (col, row)
        };
    }

    // Checks if the specified column and row are within the bounds of the game board.
    private bool IsWithinBounds(int col, int row)
    {
        return col >= 0 && col < Cols && row >= 0 && row < Rows;
    }

    // Gets the game piece at the specified column and row.
    internal GamePiece GetValidPiece(int col, int row)
    {
        if (!IsWithinBounds(col, row))
        {
            throw new ArgumentOutOfRangeException($"Attempted to get piece for Col {col}, Row {row}. This is out of range!");
        }

        return board.Board[col, row];
    }

    // Evaluates the board for a winning play in the specified direction.
    private Maybe<WinningPlay> EvaluateBoardForWinner(int col, int row, EvaluationDirection direction)
    {
        var winningMoves = new List<string> { $"{col},{row}" };

        while (true)
        {
            (col, row) = direction switch
            {
                EvaluationDirection.Vertical => (col, row + 1),
                EvaluationDirection.Horizontal => (col + 1, row),
                EvaluationDirection.SlopeUp => (col + 1, row - 1),
                EvaluationDirection.SlopeDown => (col + 1, row + 1),
                _ => (col, row)
            };

            if (!IsWithinBounds(col, row) || GetValidPiece(col, row).Color != currentTurn) { break; }

            winningMoves.Add($"{col},{row}");
        }

        if (winningMoves.Count >= InARow)
        {
            return Maybe<WinningPlay>.Some(new WinningPlay
            {
                WinningMoves = winningMoves,
                WinningColor = currentTurn,
            });
        }

        return Maybe<WinningPlay>.None;
    }

    // Checks if the specified game piece is part of the winning play.
    private bool IsGamePieceAWinningPiece(Maybe<WinningPlay> winningPlay, int col, int row)
    {
        return winningPlay.HasValue && winningPlay.Value.WinningMoves?.Contains($"{col},{row}") == true;
    }

    // Resets the game board to its initial state.
    internal void Reset()
    {
        board = new GameBoard(Cols, Rows);
        SwitchTurns();
        winningPlay = Maybe<WinningPlay>.None;
    }
}

@if (!winningPlay.HasValue)
{
    if (boardFull)
    {
        <h2>It's a Draw! <button class="btn btn-success" @onclick="Reset">Restart</button></h2>
    }
    else
    {
        <h2>@currentTurn's Turn!</h2>
    }
}
else
{
    <h2>@winningPlay.Value.WinningColor Wins! <button class="btn btn-success" @onclick="Reset">Restart</button></h2>
}

<div class="board" style="@boardStyle">
    @for (int col = 0; col < Cols; col++)
    {
        <div class="column">
            @for (int row = 0; row < Rows; row++)
            {
                int savedCol = col;
                int savedRow = row;
                <div class="gamepiece @board.Board[col,row].Color.ToString().ToLower()" @onclick="@(() => PieceClicked(savedCol, savedRow))"
                     style="@(IsGamePieceAWinningPiece(winningPlay, col, row) ? "opacity: 0.6" : "")"></div>
            }
        </div>
    }
</div>